<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>Blog</key>
		<string></string>
		<key>Github</key>
		<string></string>
		<key>Photo</key>
		<string>http://static.squarespace.com/static/5245963ce4b0dedb521c28a3/t/528fb243e4b062cad98e7ece/1385148995670/20130618_0835_Passley-Brandon_MMA-Spring_ThD_230circle.png?format=300w</string>
		<key>Home Number</key>
		<string></string>
		<key>Home Address</key>
		<string></string>
		<key>Work Address</key>
		<string>223 W. Erie Street Chicago, IL. 60601</string>
		<key>Personal Email</key>
		<string></string>
		<key>Work Email</key>
		<string></string>
		<key>Work Number</key>
		<string></string>
		<key>Cell Number</key>
		<string></string>
		<key>Name</key>
		<string>Brandon Passley</string>
	</dict>
	<dict>
		<key>Blog</key>
		<string></string>
		<key>Github</key>
		<string></string>
		<key>Photo</key>
		<string>http://static.squarespace.com/static/5245963ce4b0dedb521c28a3/t/533b3791e4b012178ce9a4e9/1394747785676/don-bora.png?format=300w</string>
		<key>Home Number</key>
		<string></string>
		<key>Home Address</key>
		<string></string>
		<key>Work Address</key>
		<string>223 W. Erie Street Chicago, IL. 60601</string>
		<key>Personal Email</key>
		<string></string>
		<key>Work Email</key>
		<string></string>
		<key>Work Number</key>
		<string></string>
		<key>Cell Number</key>
		<string></string>
		<key>Name</key>
		<string>Don Bora</string>
	</dict>
	<dict>
		<key>Blog</key>
		<string></string>
		<key>Github</key>
		<string></string>
		<key>Photo</key>
		<string>http://static.squarespace.com/static/5245963ce4b0dedb521c28a3/t/533c5915e4b07f69c06c8b30/1396463893487/max-howell.png?format=300w</string>
		<key>Home Number</key>
		<string></string>
		<key>Home Address</key>
		<string></string>
		<key>Work Address</key>
		<string>223 W. Erie Street Chicago, IL. 60601</string>
		<key>Personal Email</key>
		<string></string>
		<key>Work Email</key>
		<string></string>
		<key>Work Number</key>
		<string></string>
		<key>Cell Number</key>
		<string></string>
		<key>Name</key>
		<string>Max Howell</string>
	</dict>
	<dict>
		<key>Blog</key>
		<string></string>
		<key>Github</key>
		<string></string>
		<key>Photo</key>
		<string>http://static.squarespace.com/static/5245963ce4b0dedb521c28a3/t/528fb4d3e4b0f66b83aa0e90/1385149652641/20130618_0771_Striker-Ryan_MMA-Spring_ThD_230circle.png?format=300w</string>
		<key>Home Number</key>
		<string></string>
		<key>Home Address</key>
		<string></string>
		<key>Work Address</key>
		<string>223 W. Erie Street Chicago, IL. 60601</string>
		<key>Personal Email</key>
		<string></string>
		<key>Work Email</key>
		<string></string>
		<key>Work Number</key>
		<string></string>
		<key>Cell Number</key>
		<string></string>
		<key>Name</key>
		<string>Ryan Striker</string>
	</dict>
	<dict>
		<key>Blog</key>
		<string></string>
		<key>Github</key>
		<string></string>
		<key>Photo</key>
		<string>http://static.squarespace.com/static/5245963ce4b0dedb521c28a3/t/528fd5ece4b04a0741d8d42b/1385158139570/20130618_0811_Duncan-Thom_MMA-Spring_ThD_230circle.png?format=300w</string>
		<key>Home Number</key>
		<string></string>
		<key>Home Address</key>
		<string></string>
		<key>Work Address</key>
		<string>223 W. Erie Street Chicago, IL. 60601</string>
		<key>Personal Email</key>
		<string></string>
		<key>Work Email</key>
		<string></string>
		<key>Work Number</key>
		<string></string>
		<key>Cell Number</key>
		<string></string>
		<key>Name</key>
		<string>Thom Duncan</string>
	</dict>
	<dict>
		<key>Blog</key>
		<string></string>
		<key>Github</key>
		<string></string>
		<key>Photo</key>
		<string>http://static.squarespace.com/static/5245963ce4b0dedb521c28a3/t/533b446fe4b069893e0f48d9/1396393071902/kevin-mcquown.png?format=300w</string>
		<key>Home Number</key>
		<string></string>
		<key>Home Address</key>
		<string></string>
		<key>Work Address</key>
		<string>223 W. Erie Street Chicago, IL. 60601</string>
		<key>Personal Email</key>
		<string></string>
		<key>Work Email</key>
		<string></string>
		<key>Work Number</key>
		<string></string>
		<key>Cell Number</key>
		<string></string>
		<key>Name</key>
		<string>Kevin McQuown</string>
	</dict>
	<dict>
		<key>Blog</key>
		<string></string>
		<key>Github</key>
		<string></string>
		<key>Photo</key>
		<string></string>
		<key>Home Number</key>
		<string></string>
		<key>Home Address</key>
		<string></string>
		<key>Work Address</key>
		<string>223 W. Erie Street Chicago, IL. 60601</string>
		<key>Personal Email</key>
		<string></string>
		<key>Work Email</key>
		<string></string>
		<key>Work Number</key>
		<string></string>
		<key>Cell Number</key>
		<string></string>
		<key>Name</key>
		<string>Christopher Gu</string>
	</dict>
	<dict>
		<key>Blog</key>
		<string></string>
		<key>Github</key>
		<string></string>
		<key>Photo</key>
		<string></string>
		<key>Home Number</key>
		<string></string>
		<key>Home Address</key>
		<string></string>
		<key>Work Address</key>
		<string>223 W. Erie Street Chicago, IL. 60601</string>
		<key>Personal Email</key>
		<string></string>
		<key>Work Email</key>
		<string></string>
		<key>Work Number</key>
		<string></string>
		<key>Cell Number</key>
		<string></string>
		<key>Name</key>
		<string>Matt Brax</string>
	</dict>
	<dict>
		<key>Blog</key>
		<string></string>
		<key>Github</key>
		<string></string>
		<key>Photo</key>
		<string></string>
		<key>Home Number</key>
		<string></string>
		<key>Home Address</key>
		<string></string>
		<key>Work Address</key>
		<string>223 W. Erie Street Chicago, IL. 60601</string>
		<key>Personal Email</key>
		<string></string>
		<key>Work Email</key>
		<string></string>
		<key>Work Number</key>
		<string></string>
		<key>Cell Number</key>
		<string></string>
		<key>Name</key>
		<string>Marlon Simeus</string>
	</dict>
	<dict>
		<key>Blog</key>
		<string></string>
		<key>Github</key>
		<string></string>
		<key>Photo</key>
		<string></string>
		<key>Home Number</key>
		<string></string>
		<key>Home Address</key>
		<string></string>
		<key>Work Address</key>
		<string>223 W. Erie Street Chicago, IL. 60601</string>
		<key>Personal Email</key>
		<string></string>
		<key>Work Email</key>
		<string></string>
		<key>Work Number</key>
		<string></string>
		<key>Cell Number</key>
		<string></string>
		<key>Name</key>
		<string>Manas Maiko</string>
	</dict>
	<dict>
		<key>Blog</key>
		<string></string>
		<key>Github</key>
		<string></string>
		<key>Photo</key>
		<string></string>
		<key>Home Number</key>
		<string></string>
		<key>Home Address</key>
		<string></string>
		<key>Work Address</key>
		<string>223 W. Erie Street Chicago, IL. 60601</string>
		<key>Personal Email</key>
		<string></string>
		<key>Work Email</key>
		<string></string>
		<key>Work Number</key>
		<string></string>
		<key>Cell Number</key>
		<string></string>
		<key>Name</key>
		<string>Jian Yao Ang</string>
	</dict>
	<dict>
		<key>Blog</key>
		<string></string>
		<key>Github</key>
		<string></string>
		<key>Photo</key>
		<string></string>
		<key>Home Number</key>
		<string></string>
		<key>Home Address</key>
		<string></string>
		<key>Work Address</key>
		<string>223 W. Erie Street Chicago, IL. 60601</string>
		<key>Personal Email</key>
		<string></string>
		<key>Work Email</key>
		<string></string>
		<key>Work Number</key>
		<string></string>
		<key>Cell Number</key>
		<string></string>
		<key>Name</key>
		<string>Jamie Hernandez</string>
	</dict>
	<dict>
		<key>Blog</key>
		<string></string>
		<key>Github</key>
		<string></string>
		<key>Photo</key>
		<string></string>
		<key>Home Number</key>
		<string></string>
		<key>Home Address</key>
		<string></string>
		<key>Work Address</key>
		<string>223 W. Erie Street Chicago, IL. 60601</string>
		<key>Personal Email</key>
		<string></string>
		<key>Work Email</key>
		<string></string>
		<key>Work Number</key>
		<string></string>
		<key>Cell Number</key>
		<string></string>
		<key>Name</key>
		<string>Dennis Walsh</string>
	</dict>
	<dict>
		<key>Blog</key>
		<string></string>
		<key>Github</key>
		<string></string>
		<key>Photo</key>
		<string></string>
		<key>Home Number</key>
		<string></string>
		<key>Home Address</key>
		<string></string>
		<key>Work Address</key>
		<string>223 W. Erie Street Chicago, IL. 60601</string>
		<key>Personal Email</key>
		<string></string>
		<key>Work Email</key>
		<string></string>
		<key>Work Number</key>
		<string></string>
		<key>Cell Number</key>
		<string></string>
		<key>Name</key>
		<string>Charles Northup</string>
	</dict>
	<dict>
		<key>Blog</key>
		<string></string>
		<key>Github</key>
		<string></string>
		<key>Photo</key>
		<string></string>
		<key>Home Number</key>
		<string></string>
		<key>Home Address</key>
		<string></string>
		<key>Work Address</key>
		<string>223 W. Erie Street Chicago, IL. 60601</string>
		<key>Personal Email</key>
		<string></string>
		<key>Work Email</key>
		<string></string>
		<key>Work Number</key>
		<string></string>
		<key>Cell Number</key>
		<string></string>
		<key>Name</key>
		<string>Calvin Hildreth</string>
	</dict>
	<dict>
		<key>Blog</key>
		<string></string>
		<key>Github</key>
		<string></string>
		<key>Photo</key>
		<string></string>
		<key>Home Number</key>
		<string></string>
		<key>Home Address</key>
		<string></string>
		<key>Work Address</key>
		<string>223 W. Erie Street Chicago, IL. 60601</string>
		<key>Personal Email</key>
		<string></string>
		<key>Work Email</key>
		<string></string>
		<key>Work Number</key>
		<string></string>
		<key>Cell Number</key>
		<string></string>
		<key>Name</key>
		<string>Abel Escobar</string>
	</dict>
	<dict>
		<key>Blog</key>
		<string></string>
		<key>Github</key>
		<string></string>
		<key>Photo</key>
		<string></string>
		<key>Home Number</key>
		<string></string>
		<key>Home Address</key>
		<string></string>
		<key>Work Address</key>
		<string>223 W. Erie Street Chicago, IL. 60601</string>
		<key>Personal Email</key>
		<string></string>
		<key>Work Email</key>
		<string></string>
		<key>Work Number</key>
		<string></string>
		<key>Cell Number</key>
		<string></string>
		<key>Name</key>
		<string>Claire Montana Jencks</string>
	</dict>
	<dict>
		<key>Blog</key>
		<string></string>
		<key>Github</key>
		<string></string>
		<key>Photo</key>
		<string>http://nees.oregonstate.edu/killer_wave/wave.jpg</string>
		<key>Home Number</key>
		<string></string>
		<key>Home Address</key>
		<string>2825-B Henry St Honolulu</string>
		<key>Work Address</key>
		<string>223 W. Erie Street Chicago, IL. 60601</string>
		<key>Personal Email</key>
		<string>meaola@gmail.com</string>
		<key>Work Email</key>
		<string></string>
		<key>Work Number</key>
		<string></string>
		<key>Cell Number</key>
		<string>808-398-6520</string>
		<key>Name</key>
		<string>Marion Ano</string>
	</dict>
	<dict>
		<key>Blog</key>
		<string></string>
		<key>Github</key>
		<string>stoosevich</string>
		<key>Photo</key>
		<string>https://lh5.googleusercontent.com/-OE73C278Q00/AAAAAAAAAAI/AAAAAAAAAEY/Cvo6f_Kysog/photo.jpg</string>
		<key>Home Number</key>
		<string></string>
		<key>Home Address</key>
		<string>18434 Walter Street Lansing, IL. 60438</string>
		<key>Work Address</key>
		<string>223 W. Erie Street Chicago, IL. 60601</string>
		<key>Personal Email</key>
		<string>stoosevich@gmail.com</string>
		<key>Work Email</key>
		<string>steve@mobilemakers.co</string>
		<key>Work Number</key>
		<string>312-123-4567</string>
		<key>Cell Number</key>
		<string>708-925-2248</string>
		<key>Name</key>
		<string>Steve Toosevich</string>
	</dict>
</array>
</plist>
